/**
 * Project manager: Andrey Pavluk
 * Created by Roman Hofman
 * Date: 06.04.2018
 */

/*
 * Metabox
 */
.inside [class*='-block-'] {
    display: block;
    padding: 10px 20px;
}

.inside [class*='-group-'] {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.inside [class*='-field-'] label {
    display: inline-block;
    width: 22%;
    padding-right: 5px;
    font-size: 14px;
    text-align: right;
    vertical-align: baseline;
}

.inside [class*='-field-'] label::after {
    display: inline-block;
    content: ':';
}

.inside [class*='-field-'] input {
    display: inline-block;
    width: 70%;
}

.inside [class*='-field-'] input[type='checkbox'],
.inside [class*='-field-'] input[type='radio'] {
    margin-left: 10px;
    margin-bottom: 5px;
    width: auto;
}

.inside [class*='-field-'] select {
    width: 70%;
}

.inside [class*='-textarea'] label {
    vertical-align: top;
}

.inside [class*='-textarea'] textarea {
    width: 70%;
}

#scrm-lead-contact-image .inside img {
    max-width: 100%;
    width: 100%;
    height: auto;
}